<mat-card id="card" style="text-align: center;">
    <div class="header">
      <br>
        <h1>Search for a quiz</h1>
        <h2>Rules:</h2>
        <ol>
            <li>Correct Question gives you 10 points</li>
            <li>Incorrect question gives to -10 points</li>
            <li>You will have 60 sec to answer each question</li>
            <li>Refereshing the page will reset the Quiz</li>
        </ol>
    </div>
    <br>
    <form [formGroup]="quizForm" (ngSubmit)="takeQuiz()">
        <!-- <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <input type="text" matInput>
          </mat-form-field> -->
          <div class="form-inputs">
            <mat-form-field appearance="outline" class="centre">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="Linux">Linux</mat-option>
                  <mat-option value="DevOps">DevOps</mat-option>
                  <mat-option value="Docker">Docker</mat-option>
                  <mat-option value="Javascript">HTML</mat-option>
                  <mat-option value="Javascript">Javascript</mat-option>
                  <mat-option value="PHP">PHP</mat-option>
                  <mat-option value="Kubernetes">Kubernetes</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="centre">
                <mat-label>Difficulty</mat-label>
                <mat-select formControlName="difficulty">  
                  <mat-option value="Easy">Easy</mat-option>
                  <mat-option value="Medium">Medium</mat-option>
                  <mat-option value="Hard">Hard</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button class="btn" type="submit">Take Quiz!</button>
          </div>
        </form>
    <!-- <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each Question holds 10 Points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
    </div> -->
    <!-- <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button> -->
</mat-card>
