<div class="ancestor">
    <!-- <div class="left">
    <app-sidebar></app-sidebar> 
    </div> -->
    <div class="searchBar">
        <app-search-post (onSearchPost)="newSearchPost($event)"></app-search-post>
    </div>
    <div class="noResultsHolder" *ngIf="!posts">
        <mat-card>
            <mat-card-content>
                <p><em>Sorry, we couldn't find any results for {{searchValue}}.</em></p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="display-post" *ngIf="posts">
        <h2 *ngIf="searchValue">Results for <b>{{searchValue}}</b></h2>
          <div *ngFor="let p of posts">
            <div class="post">
                <div class="post-header">
                    <div class="padding">
                        <img class="profile-image img-account-profile rounded-circle" [src]="p.posterDpImageUrl || p.posterDpImageUrl?.length==0? 'https://jgclass.sgp1.digitaloceanspaces.com/display-pic/'+p.posterDpImageUrl : 'http://bootdey.com/img/Content/avatar/avatar1.png'" alt="">                           
                    </div>
                    <span class="padding">{{p.userName}}</span>

                </div>
                <hr>
                <div>
                    <div style="margin-top:10px; margin-bottom:10px;">
                        <h2 class="post-title">{{p.postName}}</h2>
                        <p [innerHtml]="p.description"></p>
                        <div class="img-box" *ngIf="p?.imageUrl">
                            <img class="post-image" [src]='"https://jgclass.sgp1.digitaloceanspaces.com/day38/" + p.imageUrl' alt="">
                        </div>
                    </div>
                    <span>
                        <mat-icon>question_answer</mat-icon>
                        Comments ({{p.commentCount}})
                    </span>
                    <br>
                    <br>
                    <span> Tags:
                        <span *ngFor="let t of p.tags" class="padding">
                            <span>
                                <button mat-stroked-button color="accent" style="margin-left:5px; margin-right:5px;" (click)="newSearchPost(t)">{{t}}</button>
                            </span>
                        </span>
                    </span>
                    <br>
                    <button mat-raised-button color="primary" style="margin-bottom:5px; margin-top:5px; float: right;" type="submit" (click)="goToPost(p.id)">Read Post</button>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-holder">
        <button mat-raised-button color="primary" style="float: right;" (click)="newSearchPost('')">Reset Search</button>
    </div>
</div>
