<p>
    <mat-toolbar color="primary">

      <span><mat-icon>school</mat-icon> Homework Nerd</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <div *ngIf="!isLoggedIn"> -->
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/signup']"> Sign up </button>
        <button mat-menu-item [routerLink]="['/login']"> Login </button>
    </mat-menu>
    <!-- </div> -->
    <!-- <mat-nav-list> -->
        <!-- <a routerLink="/sign-up" class="float-right sign-up mr-2"> Sign up </a>
        <a routerLink="/login" class="float-right login mr-2"> Login </a> -->
    <!-- </mat-nav-list> -->
    </mat-toolbar>
  </p>
