<div class="header" *ngIf="favourites">
    <h2>{{favourites?.length}} favourites</h2>
</div>

<div class="header" *ngIf="!favourites">
    <h2>0 Favourites</h2>
</div>

<div class="noResultsHolder" *ngIf="!favourites">
    <mat-card>
        <mat-card-content>
            <p><em>You haven't added any favourite yet.</em></p>
        </mat-card-content>
    </mat-card>
</div>

<div class="ancestor">
    <div class="right">
        <div class="display-post" *ngIf="favourites">
            <!-- <h2 *ngIf="searchValue">Results for <b>{{searchValue}}</b></h2> -->
              <div *ngFor="let f of favourites">
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-left">
                            <div class="padding">
                                <img class="profile-image img-account-profile rounded-circle" [src]="f.postResponse.posterDpImageUrl || f.postResponse.posterDpImageUrl?.length==0? 'https://jgclass.sgp1.digitaloceanspaces.com/display-pic/'+f.postResponse.posterDpImageUrl : 'http://bootdey.com/img/Content/avatar/avatar1.png'" alt="">
                            </div>
                            <span>{{f.postResponse.userName}} on {{f.postResponse.createdDate | date:'mediumDate'}}</span>                             
                        </div>
                        <div>
                            <button mat-stroked-button color="warn" class="delete-btn" (click)="deleteFav(f.recordId)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            <h2 class="post-title">{{f.postResponse.postName}}</h2>
                            <div *ngIf="f.postResponse?.description">
                                <p [innerHtml]="f.postResponse.description"></p>
                            </div>
                            <div *ngIf="f.postResponse?.imageUrl">
                                <img class="post-image" [src]='"https://jgclass.sgp1.digitaloceanspaces.com/day38/" + f.postResponse.imageUrl' alt="">
                            </div>
                        </div>
                        <span>
                            <mat-icon>question_answer</mat-icon>
                            Comments ({{f.postResponse.commentCount}})
                        </span>
                        <br>
                        <br>
                        <span>Tags:
                            <span *ngFor="let t of f.postResponse.tags">
                                <span>
                                    <button mat-stroked-button color="accent" style="margin-left:5px; margin-right:5px;" (click)="newSearchPost(t)">{{t}}</button>
                                </span>
                            </span>
                        </span>
                        <br>
                        <button mat-raised-button color="primary" style="margin-bottom:5px; margin-top:5px; float:right;" type="submit" [routerLink]="['/view-post', f.postResponse.id]">Read Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>