.sidebar{
    /* width: 312px;
    height: 242px; */
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 5px;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: calc(100vh - 24px); */
}

.topics {
    overflow-y: scroll;
    height: 300px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.topics::-webkit-scrollbar {
    display: none;
}

/* .reddit-image {
    width: 100%;
    object-fit: contain;
} */

