<div class="sidebar" style="width: 100%; height:50%">
    <img class="reddit-image" src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">

    <div>
        <!-- <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png"> -->
        <div style="text-align: center; font-size: 1em;">Look at what others are posting about!</div>
        <hr/>
        <div class="topics">
            <mat-list role="list" *ngFor="let t of topics?.tags">
                <mat-list-item role="listitem" (click)="newSearchPost(t)" >{{t}}</mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
