<div class="header" *ngIf="posts">
    <h2>{{posts?.length}} Posts</h2>
</div>

<div class="header" *ngIf="!posts">
    <h2>0 Posts</h2>
</div>

<div class="noResultsHolder" *ngIf="!posts">
    <mat-card class="right no-result-mat-card">
        <mat-card-content>
            <p><em>You haven't posted any content yet.</em></p>
        </mat-card-content>
    </mat-card>
    <div class="sidebar-no-fav" *ngIf="!favourites">
        <app-sidebar></app-sidebar>
    </div>
</div>

<div class="ancestor">
    <div class="right">
        <div class="display-post" *ngIf="posts">
            <!-- <h2 *ngIf="searchValue">Results for <b>{{searchValue}}</b></h2> -->
              <div *ngFor="let p of posts">
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-left">
                            <!-- <img class="profile-image img-account-profile rounded-circle mb-2 padding" [src]="p.posterDpImageUrl || p.posterDpImageUrl?.length==0? 'https://jgclass.sgp1.digitaloceanspaces.com/display-pic/'+p.posterDpImageUrl : 'http://bootdey.com/img/Content/avatar/avatar1.png'" alt=""> -->
                            <span>{{p.userName}} on {{p.createdDate | date:'mediumDate'}}</span>
                        </div>
                        <div>
                            <button mat-stroked-button color="warn" class="delete-btn" (click)="deletePost(p.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>                                
                    </div>
                    
                    <hr>
                    <div>
                        <div>
                            <h2 class="post-title">{{p.postName}}</h2>
                            <div *ngIf="p?.description">
                                <p [innerHtml]="p.description"></p>
                            </div>
                            <div *ngIf="p?.imageUrl" class="image">
                                <img class="post-image" [src]='"https://jgclass.sgp1.digitaloceanspaces.com/day38/" + p.imageUrl' alt="">
                            </div>
                        </div>
                        <span>
                            <mat-icon>question_answer</mat-icon>
                            Comments ({{p.commentCount}})
                        </span>
                        <br>
                        <br>
                        <span>Tags:
                            <span *ngFor="let t of p.tags">
                                <span>
                                    <button mat-stroked-button color="accent" style="margin-left:5px; margin-right:5px;" (click)="newSearchPost(t)">{{t}}</button>
                                </span>
                            </span>
                        </span>
                        <br>
                        <button mat-raised-button class="orange-btn" style="margin-left:5px; margin-bottom:5px; margin-top:5px; float:right" type="submit" [routerLink]="['/view-post', p.id]">Read Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar" *ngIf="posts">
        <app-sidebar></app-sidebar>
    </div>
</div>