<div class="ancestor">
    <div class="left">
    <!-- <app-sidebar></app-sidebar> -->
    </div>
    <div class="display-post">
          <div *ngFor="let p of posts">
            <div class="post">
                <span>
                    <span *ngFor="let t of p.tags">
                        <span>
                            <button mat-stroked-button color="accent" style="margin-left:5px; margin-right:5px;" >{{t}}</button>
                        </span>
                    </span>                                
                    <span>Posted by: {{p.userName}}</span>
                </span>
                <hr>
                <div>
                    <div>
                        <h2 class="post-title">{{p.postName}}</h2>
                        <p [innerHtml]="p.description"></p>
                    </div>
                    <span>
                        <mat-icon>question_answer</mat-icon>
                        Comments ({{p.commentCount}})
                    </span>
                    <button mat-raised-button color="primary" style="margin-left:5px; margin-bottom:5px; margin-top:5px;" type="submit" (click)="goToPost(p.id)">Read Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
