.ancestor {
    display: flex;
    flex-direction: column;   
    width: 100% auto;
    border: 0 auto;
    /* justify-content: center; */
}

.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
    color: black;
}

.display-post {
    height:800px;
    overflow-y: scroll;
    /* width: 70%; */
    padding-left: 50px;
}

.left {
    width: 30%;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightgray; */
}

.noResultsHolder {
  display: flex;
  justify-content: center;
}

mat-card {
    width: 70%
}

.btn-holder {
    margin: 30px;
}