<div class="sidebar" style="width: 100%; height: 100%">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em;">Welcome to Homework Nerd home page. Come here to
        post a question now!</div>
    <div style="text-align: center">
        <button mat-raised-button color="accent" (click)="goToCreatePost()">Create Post</button>
    </div>
    <br>
    <div style="text-align: center; font-size: 1em;">Browse Posts By Your Favourite Topics</div>
    <hr />
    <mat-list role="list">
        <mat-list-item role="listitem">Math</mat-list-item>
        <mat-list-item role="listitem">Programming</mat-list-item>
        <mat-list-item role="listitem">Science</mat-list-item>
      </mat-list>
</div>

<div class="sidebar-view-topic">
    <!-- <div style="color: black; font-weight: bold">Browse Your Favourite Topics</div>
    <hr /> -->
    <!-- <span *ngFor="let subreddit of subreddits">
        <span class="subreddit-text"><a href="/view-subreddit/{{subreddit.id}}">{{subreddit.name}}</a></span>
        <hr />
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-subreddits">View All</a>
    </div> -->
</div>
