/* .space-around {
    display: flex;
    justify-content: space-around;
  } */

/* div.form {
    display: block;
    text-align: center;
} */
  
/* .register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */