<mat-grid-list cols="7" rowHeight="10rem" >
    <mat-grid-tile colspan="3" rowspan="4">
        <app-sidebar></app-sidebar>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4" class="flex">
        <!-- <mat-card class="post"> -->
            <div class="post">
                <span>
                    <span *ngFor="let t of post.tags">
                        <span>
                            <button mat-stroked-button color="accent" style="margin-left:5px; margin-right:5px;" >{{t}}</button>
                        </span>
                    </span>
                    <span>Posted by: {{post.userName}}</span>
                </span>
                <hr>
                <div>
                    <div>
                        <h2 class="post-title">{{post.postName}}</h2>
                        <p>{{post.description}}</p>
                    </div>
                    <br>
                    <!-- <hr> -->
                    <span>
                        <mat-icon>question_answer</mat-icon>
                        Comments ({{post.commentCount}})
                    </span>
                    <!-- <button mat-raised-button color="primary" style="margin-left:5px; margin-bottom:5px; margin-top:5px;" type="submit" (click)="goToPost(p.id)">Read Post</button> -->
                </div>
            </div>
        <!-- </mat-card> -->
    </mat-grid-tile>
    <ng-container>
        <mat-grid-tile [colspan]="3" rowspan="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" rowspan="1">
            <div class="comment-holder">
                <form class="commentForm" [formGroup]="commentForm" (ngSubmit)="createComment()">
                    <mat-form-field appearance="outline" style="width: 850px;">
                        <mat-label>Add a comment...</mat-label>
                        <textarea matInput cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="text"></textarea>
                    </mat-form-field>
                    <div class="btn-holder" >
                        <button mat-raised-button color="primary" style="float: right" type="submit">Add comment</button>
                    </div>
                </form>
            </div>
        </mat-grid-tile>
    </ng-container>

    <div class="omment-holder">
        <ng-container *ngFor="let c of comments">
            <mat-grid-tile [colspan]="3" rowspan="2">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" rowspan="2">
                <div>
                    <div class="votebox">
                    <div>
                        <fa-icon (click)="upvoteComment(c.id)" class="upvote" [icon]="faArrowUp">
                        </fa-icon>
                    </div>
                    <br>
                    <div class="votecount">{{c.voteCount}}</div>
                    <br>
                    <div >
                        <fa-icon (click)="downvoteComment(c.id)" class="downvote" [icon]="faArrowDown">
                        </fa-icon>
                    </div>
                    </div>
                </div>
            </mat-grid-tile>
                
            <mat-grid-tile [colspan]="3" rowspan="2">
                <div class="comment">
                    <div class="header">
                        <span class="username">{{c.username}} . </span>
                        <span>Answered on {{c.createdDate}}</span>
                    </div>
                    <br>
                    <div>
                        <p>{{c.text}}</p>
                    </div>
                </div>
            </mat-grid-tile>
        </ng-container>
    </div>
</mat-grid-list>

